# Git
.git/
.gitattributes
.gitignore
.gitkeep
.git-blame-ignore-revs

# GitHub
.github/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
tmp/
testruns/

# Docker
Dockerfile*
.dockerignore

# OS
.DS_Store
Thumbs.db

# Go
vendor/
*.test
*.prof
*.out
*.trace
*.sum
go.sum

# Environment
.env
.env.local

# Documentation
site/
